:root {
  --lila: #8089ce;
  --donkerlila: #4c5384;
  --groen: #4c9ea1;
  --donkergroen: #3e8f94;
  --donkergrijs: #eee;
  --lichtgrijs: whitesmoke;
}

@custom-media --xs screen and (min-width: 0);
@custom-media --sm screen and (min-width: 576px);
@custom-media --md screen and (min-width: 768px);
@custom-media --lg screen and (min-width: 992px);
@custom-media --xl screen and (min-width: 1260px);
