:root {
  --lila: #8089ce;
  --donkerlila: #4c5384;
  --groen: #6ec8cd;
  --mediumgroen: #4da0a4;
  --donkergroen: #3e8f94;
  --donkergrijs: #eee;
  --lichtgrijs: whitesmoke;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
}

@custom-media --xs screen and (min-width: 0);
@custom-media --sm screen and (min-width: 576px);
@custom-media --md screen and (min-width: 768px);
@custom-media --lg screen and (min-width: 960px);
@custom-media --xl screen and (min-width: 1260px);
