@import "./css/reset.css";
@import "./css/vars.css";

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* stylelint-enable */

@font-face {
  font-family: Aracne Condensed;
  src: url("./assets/fonts/aracne-condensed/aracne-condensed-regular.woff2")
      format("woff2"),
    url("./assets/fonts/aracne-condensed/aracne-condensed-regular.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Nunito;
  src: url("./assets/fonts/nunito/nunito-regular.woff2") format("woff2"),
    url("./assets/fonts/nunito/nunito-regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Nunito;
  src: url("./assets/fonts/nunito/nunito-semibold.woff2") format("woff2"),
    url("./assets/fonts/nunito/nunito-semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Nunito;
  src: url("./assets/fonts/nunito/nunito-bold.woff2") format("woff2"),
    url("./assets/fonts/nunito/nunito-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Nunito;
  src: url("./assets/fonts/nunito/nunito-extrabold.woff2") format("woff2"),
    url("./assets/fonts/nunito/nunito-extrabold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

body {
  font-family: Nunito, Helvetica, Arial, sans-serif;
  /* background-color: var(--lichtgrijs); */
  line-height: 1.7;
  color: #101010;
  background: url("./assets/img/noise.png");
  background-color: #f5f5f5;
}

.hide {
  display: none;
}

.btn__lila {
  background-color: var(--lila);
  color: white;
  text-decoration: none;
  font-size: 1.4rem;

  @media (--sm) {
    font-size: 2rem;
  }
}

.btn__groen {
  background-color: var(--groen);
  color: white;
  text-decoration: none;
  font-size: 1.4rem;

  @media (--sm) {
    font-size: 2rem;
  }
}

p {
  font-size: 1.6rem;
  font-weight: normal;

  @media (--lg) {
    font-size: 1.8rem;
  }
}

strong {
  font-weight: var(--bold);
}

section {
  padding: 0 1.5rem;
  @media (--sm) {
    padding: 0 3rem;
    margin: 3rem 0;
  }
  @media (--lg) {
    padding: 0 5rem;
    margin: 5rem 0;
  }
}

h1 {
  color: var(--lila);
  font-size: 6rem;
  font-weight: var(--extrabold);

  @media (--sm) {
    font-size: 7rem;
  }
}

h2 {
  font-size: 3.2rem;
  font-weight: var(--bold);
  line-height: 1.5;

  /* @media (--sm) {
    font-size: 3.8rem;
  } */
}

.title-highlight {
  font-weight: var(--extrabold);
}

.header-randje {
  background: url("./assets/img/headerbg/header_randje.png");
  background-size: 100%;
  height: 0.8rem;
  opacity: 0.8;
  background-repeat: repeat-x;

  @media (--md) {
    background: url("./assets/img/headerbg/header_randje_large.png");
    background-size: 100%;
    background-repeat: repeat-x;
  }
}

/*-------------- HEADER ---------------*/

.header {
  background: url("./assets/img/headerbg/header_320.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: grid;
  grid-gap: 2.5rem;
  grid-template-rows: 5rem repeat(4, auto);
  grid-template-areas:
    "lang"
    "title"
    "subtitle"
    "nav"
    "btn";
  padding: 1.5rem;

  @media (min-width: 400px) {
    background: url("./assets/img/headerbg/header_400.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  @media (--sm) {
    justify-content: center;
    background: url("./assets/img/headerbg/header_576.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  @media (min-width: 700px) {
    background: url("./assets/img/headerbg/header_700.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  @media (--lg) {
    background: url("./assets/img/headerbg/header_960.png");
    background-size: 100%;
    background-repeat: no-repeat;
    grid-template-columns: 55% 45%;
    grid-template-rows: 5rem auto auto 25rem auto;
    grid-template-areas:
      "img lang"
      "img title"
      "img subtitle"
      "img nav"
      "img btn";
  }

  @media (min-width: 1140px) {
    background: url("./assets/img/headerbg/header_1140.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  @media (--xl) {
    padding-top: 5rem;
    background: url("./assets/img/headerbg/header_1260.png");
    background-size: 150%;
    background-repeat: no-repeat;
    grid-template-rows: 5rem repeat(4, auto);
    padding-bottom: 5rem;
    height: 80rem;
  }

  @media (--xxl) {
    background: url("./assets/img/headerbg/header_1440.png");
    background-size: 100%;
    background-repeat: no-repeat;
    /* height: 100rem; */
  }
}

.header__title {
  grid-area: title;
  background: url("./assets/img/cirkels/headercirkel.png");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  width: 30rem;
  justify-self: center;
  margin-top: 10rem;

  @media (--sm) {
    width: unset;
  }

  @media (--lg) {
    text-align: unset;
    width: 35rem;
    justify-self: unset;
  }
}

.header__lang {
  grid-area: lang;
  font-family: "Aracne Condensed";
  font-size: 3rem;
  justify-self: end;
  position: absolute;
  right: 3rem;
  top: 3rem;
  font-weight: bold;
  letter-spacing: 0.2rem;

  /* @media (--sm) {
    font-size: 2.8rem;
    margin-right: 0;
  }

  @media (--lg) {
    padding-right: 2rem;
  } */
}

.header__lang a {
  width: 7rem;
  height: 4rem;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;

  /* @media (--sm) {
    width: 8.5rem;
    height: 6rem;
    padding: 2.5rem;
  } */
}

.lang__nl {
  background: url("./assets/img/buttons/lang_nl.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.lang__fr {
  background: url("./assets/img/buttons/lang_fr.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -1rem;
}

.header__img {
  display: none;

  grid-area: img;
  height: 40rem;
  justify-self: center;
  align-self: center;

  @media (--lg) {
    display: unset;
    height: 50rem;
  }

  @media (--xl) {
    height: 70rem;
  }
}

.header__subtitle {
  grid-area: subtitle;
  color: var(--donkerlila);
  font-size: 2.4rem;
  text-align: center;
  font-weight: var(--bold);
  line-height: 3.6rem;

  @media (--sm) {
    text-align: unset;
    /* font-size: 2.6rem; */
    width: 38rem;
  }
}

.header__nav {
  grid-area: nav;
  font-size: 1.6rem;
  font-weight: var(--semibold);
  margin: 2rem 0 4rem 0;
  line-height: 3.2rem;

  @media (--sm) {
    text-align: unset;
    font-size: 1.9rem;
    width: 40rem;
  }

  @media (--lg) {
    text-align: unset;
    width: 40rem;
  }

  @media (--xl) {
    width: 45rem;
  }
}

.header__navlink {
  color: var(--lila);
  text-decoration: none;
  border-bottom: 0.2rem solid var(--lila);
  transition: all 0.2s;
  font-weight: bold;

  &:hover {
    border-bottom: 0.2rem solid transparent;
  }
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: btn;
  background: url("./assets/img/buttons/headerbutton.png");
  background-repeat: no-repeat;
  background-size: 80% 82%;
  background-position: center;
  width: 35rem;
  height: 7rem;
  justify-self: center;
  transition: all 0.1s ease-in-out 0s;
  font-weight: bold;
  animation: zooming 5000ms infinite;
  padding-top: 0.2rem;
  font-size: 1.8rem;
  margin-left: 4rem;

  /* @media (--sm) {
    width: 35rem;
    height: 7rem;
  } */

  @media (--lg) {
    justify-self: flex-start;
  }
}

@keyframes zooming {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
}

.header__btn:hover {
  background: url("./assets/img/buttons/headerbutton_pressed.png");
  background-repeat: no-repeat;
  background-size: 80% 82%;
  background-position: center;
}

.header__btn span {
  background: url("./assets/img/buttons/pijltje_wit.png");
  height: 1.5rem;
  width: 2.2rem;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 1rem;
}

/*------------ OVER CONNEXT --------------*/

.overconnext {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "title"
    "text"
    "btn"
    "fotos";
  justify-content: center;
  line-height: 3rem;
  padding: 0 11vw 0 18vw;

  @media (--lg) {
    /* justify-content: space-between; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "title fotos"
      "text fotos"
      "btn fotos";
  }

  @media (--xl) {
    width: unset;
    justify-content: space-around;
  }

  @media (--xxl) {
    margin: 10rem 0;
  }
}

.overconnext strong {
  color: var(--donkergroen);
}

.overconnext__title {
  grid-area: title;
  color: var(--groen);

  padding-top: 2rem;
  padding-bottom: 1.2rem;
  position: relative;
}

.overconnext__title .title-highlight {
  color: var(--mediumgroen);
}

.overconnext__cirkel {
  background: url("./assets/img/cirkels/overconnextcirkel.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  width: 21rem;
  height: 8rem;
  top: 1rem;
  left: 5rem;
  z-index: -1;
}

.overconnext__fotos {
  grid-area: fotos;
  position: relative;
  align-self: center;
  justify-self: flex-end;
  margin-top: 4rem;

  @media (--lg) {
    margin-top: unset;
  }
}

.overconnext__bg {
  position: relative;
  width: 25rem;

  @media (min-width: 460px) {
    width: 40rem;
  }

  @media (--sm) {
    width: 50rem;
  }

  @media (--lg) {
    width: 40rem;
  }

  @media (min-width: 1060px) {
    width: 45rem;
  }

  @media (min-width: 1140px) {
    width: 55rem;
  }

  @media (--xl) {
    width: 60rem;
    height: 40rem;
  }
}

.overconnext__foto {
  position: absolute;
  left: 0;
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0s;
  width: 25rem;

  @media (min-width: 460px) {
    width: 40rem;
  }

  @media (--sm) {
    width: 50rem;
  }

  @media (--lg) {
    width: 40rem;
  }

  @media (min-width: 1060px) {
    width: 45rem;
  }

  @media (min-width: 1140px) {
    width: 55rem;
  }

  @media (--xl) {
    left: -3rem;
    width: 60rem;
    height: 40rem;
  }
}

.foto1 {
  transform: rotate(-5deg);
}

.foto2 {
  transform: rotate(-9deg);
}

.foto3 {
  transform: rotate(5deg);
}

.overconnext__text {
  grid-area: text;
  margin-bottom: 2rem;

  @media (--sm) {
    width: 52rem;
    margin: 2rem 0;
  }

  @media (--lg) {
    width: 45rem;
  }

  @media (--xl) {
    width: 52rem;
    margin: 2rem 0;
  }
}

.overconnext__btn {
  grid-area: btn;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./assets/img/buttons/overconnextbutton.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 43rem;
  height: 7rem;
  transition: all 0.1s ease-in-out 0s;
  font-weight: bold;
  padding-top: 0.2rem;
  font-size: 1.9rem;
  margin-left: -2.1rem;
  margin-top: 2rem;
  transform: scale(0.98);

  /* @media (--sm) {
    width: 46rem;
    height: 7rem;
    margin-left: -2rem;
    font-size: 2rem;
    justify-self: center;
  } */

  @media (--lg) {
    /* width: 46rem;
    height: 7rem;
    margin-left: -2rem; */
  }
}

.overconnext__btn:hover {
  background: url("./assets/img/buttons/overconnextbutton_pressed.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transform: scale(0.99);
}

.overconnext__btn span {
  background: url("./assets/img/buttons/pijltje_wit.png");
  height: 1.5rem;
  width: 2.2rem;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 0.9rem;
}

/*---------- TRACK & TRACE --------*/

.tracktrace {
  background: url("./assets/img/tracktracebg/tracktrace_400_2.png");

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 4rem 0;
  height: 55rem;
  text-align: left;

  @media (min-width: 430px) {
    background: url("./assets/img/tracktracebg/tracktrace_430.png");

    background-repeat: no-repeat;
    background-size: 100%;
  }

  @media (--sm) {
    background: url("./assets/img/tracktracebg/tracktrace_567.png");

    background-repeat: no-repeat;
    background-size: 100%;
    height: 45rem;
    align-items: center;
  }

  @media (--lg) {
    background: url("./assets/img/tracktracebg/tracktrace_960.png");
    height: 50rem;
    padding-left: 25rem;
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: flex-start;
  }

  @media (min-width: 1180px) {
    background: url("./assets/img/tracktracebg/tracktrace_1180.png");
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: flex-start;
    padding-top: 7rem;
    height: 40rem;
  }

  @media (--xl) {
    padding-left: 35rem;
    height: 50rem;
  }

  @media (min-width: 1330px) {
    padding-left: 40rem;
  }

  @media (--xxl) {
    background: url("./assets/img/tracktracebg/tracktrace_1440.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 12rem;
  }

  @media (min-width: 1630px) {
    background: url("./assets/img/tracktracebg/tracktrace_1440_2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 10rem;
  }
}

.tracktrace__title {
  color: white;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tracktrace__cirkel {
  background: url("./assets/img/cirkels/tracktracecirkel.png");
  background-repeat: no-repeat;
  background-size: 65%;
  height: 10rem;
  width: 20rem;
  position: absolute;
  top: -1rem;
  left: -3rem;
}

.tracktrace__text {
  margin: 2rem 0;
  line-height: 2.9rem;

  @media (--sm) {
    width: 52rem;
  }

  @media (--lg) {
    width: 55rem;
  }
}

.down {
  display: inline-block;
  margin-bottom: 1.7rem;
}
.form__input {
  background: url("./assets/img/input.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 25rem;
  height: 6rem;
  border: none;
  font-size: 2.8rem;
  font-family: Nunito;
  font-weight: 900;
  color: white;
  text-align: center;
  transition: all 0.2s ease;
  opacity: 0.6;
  margin-top: 3rem;

  @media (--sm) {
    width: 32.5rem;
    height: 7rem;
  }
}

.form__input:focus {
  outline: none;
  opacity: 1;
}

.form__submit {
  border: none;
  color: var(--lila);
  font-size: 1.8rem;
  height: 5rem;
  width: 18rem;
  background: url("./assets/img/buttons/tracktracebutton.png");
  background-size: 99% 95%;
  background-repeat: no-repeat;
  margin-left: 3rem;
  transition: all 0.1s ease-in-out 0s;
  font-weight: bold;
  font-family: Nunito;
  font-weight: bold;
  z-index: 999;
  @media (--sm) {
    height: 6rem;
    width: 20rem;
  }
}

.form__submit:focus {
  outline: none;
}

.form__submit:hover {
  cursor: pointer;
  background: url("./assets/img/buttons/tracktracebutton_pressed.png");
  background-size: 99% 95%;
  background-repeat: no-repeat;
  transform: scale(1.01);
}

/*---------- EUROMETROPOOL --------*/

.eurometropool {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (--sm) {
    align-items: center;
  }

  @media (--lg) {
    /* height: 100rem; */
    align-items: unset;
  }

  @media (--xl) {
    /* padding-left: 15rem; */
    justify-content: flex-start;
  }

  @media (--xxl) {
    padding-left: 18vw;
  }
}

.eurometropool strong {
  color: var(--donkerlila);
}

.eurometropool__title {
  color: var(--lila);
  margin-top: 9rem;
}

.eurometropool__title .title-highlight {
  color: var(--donkerlila);
}

.eurometropool__img {
  display: none;
  position: absolute;
  bottom: -26rem;

  @media (--lg) {
    width: 39rem;
    display: unset;
    z-index: -1;
    opacity: 0.8;
  }

  @media (min-width: 1100px) {
    width: 45rem;
    z-index: unset;
    opacity: 1;
  }

  @media (--xl) {
    width: 60rem;
  }

  @media (--xxl) {
    width: 64rem;
    right: 2rem;
  }

  @media (min-width: 1600px) {
    width: 111rem;
  }
}

.eurometropool__text {
  margin: 1rem 0;

  @media (--sm) {
    width: 52rem;
    margin: 3rem 0;
  }
}

.eurometropool__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./assets/img/buttons/eurometropoolbutton.png");
  background-repeat: no-repeat;
  background-size: 92% 92.5%;
  background-position: center;
  width: 43rem;
  height: 7rem;
  transition: all 0.1s ease-in-out 0s;
  font-weight: bold;
  padding-top: 0.2rem;
  font-size: 1.9rem;
  margin-left: -4.7rem;
  margin-top: 2rem;
  transform: scale(0.98);

  @media (min-width: 400px) {
    width: 40rem;
    align-self: center;
  }

  @media (--sm) {
    align-self: unset;
    width: 52rem;
    /* margin-left: -2rem; */
  }

  @media (--md) {
  }

  @media (--lg) {
  }

  /* @media (--xl) {
    margin-left: -2rem;
    width: 52rem;
  } */
}

.eurometropool__btn:hover {
  background: url("./assets/img/buttons/eurometropoolbutton_pressed.png");
  background-repeat: no-repeat;
  background-size: 92% 92.5%;
  background-position: center;
  transform: scale(0.99);
}

.eurometropool__btn span {
  background: url("./assets/img/buttons/pijltje_wit.png");
  height: 1.5rem;
  width: 2.2rem;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 1rem;
}

/*---------- WEETJES --------*/

.weetjes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;

  @media (--lg) {
    flex-direction: row;
  }
}

.weetjes__envelop {
  background: url("./assets/img/weetjes/envelop2_transparant.png");
  width: 32rem;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;

  @media (--sm) {
    background: url("./assets/img/weetjes/envelop2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 54rem;
  }

  @media (--lg) {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 58rem;
  }

  @media (min-width: 1140px) {
    height: 55rem;
  }

  @media (--xl) {
    width: 85rem;
    height: 85rem;
  }
}

.envelop__title {
  color: white;
  font-size: 2.3rem;
  width: 29rem;
  text-align: center;
  margin-top: 15rem;
  line-height: 1.3;
  position: relative;

  @media (--sm) {
    font-size: 3rem;
    width: 33rem;
  }

  @media (--lg) {
    font-size: 2.6rem;
  }

  @media (--xl) {
    font-size: 3.2rem;
    width: 40rem;
  }

  & .cirkel {
    background: url("./assets/img/weetjes/cirkel.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 17rem;
    height: 8rem;
    position: absolute;
    margin-left: -17rem;
    margin-top: -1rem;
  }
}

.envelop__title span {
  /* position: absolute; */
  font-weight: var(--extrabold);
}

.envelop__text {
  width: 28rem;
  font-size: 1.8rem;
  text-align: center;
  margin: 1rem 0 2rem;
  line-height: 2.7rem;

  @media (--sm) {
    width: 38rem;
    margin: 2rem 0 4rem;
  }

  @media (--lg) {
    margin: 2rem 0 3rem;
    width: 35rem;
  }

  @media (--xl) {
    margin: 2rem 0 13rem;
    width: 38rem;
  }

  & .ontdekenleer {
    margin-top: 2rem;
    display: block;
    font-weight: var(--extrabold);
  }
}

.envelop__btns {
  margin-top: 3rem;
  display: flex;
  flex-flow: row wrap;
}

.envelop__btn {
  border: none;
  background-color: unset;
  color: var(--donkergroen);
  font-family: Nunito;
  margin-right: 3rem;
  font-weight: var(--bold);
  transition: all 0.2s ease;
}

.envelop__btn:focus {
  outline: none;
}

.envelop__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.envelop__btn-active:hover {
  opacity: 1;
}

.envelop__btn img {
  width: 6rem;
  height: 6rem;
  margin-bottom: 1rem;

  @media (--sm) {
    width: 7rem;
    height: 7rem;
  }
}
.envelop__btn p {
  font-weight: var(--bold);
}

.weetjes__kaartje {
  width: 32rem;
  position: relative;
  animation: rotating 5000ms infinite;

  @media (--sm) {
    background: url("./assets/img/weetjes/kaartje2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 60rem;
    height: 41rem;
    margin-bottom: 8rem;
  }

  @media (--lg) {
    margin-left: -8rem;
    margin-bottom: -5rem;
    width: 70rem;
  }

  @media (min-width: 1140px) {
    height: 47rem;
  }

  @media (--xl) {
    margin-left: -15rem;
    margin-bottom: 0;
    width: 105rem;
    height: 80rem;
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(0);
  }
}

.kaartje__answers {
  font-family: "Aracne Condensed";
  color: var(--donkergroen);

  @media (--sm) {
    position: absolute;
    top: 8rem;
    left: 9rem;
  }

  @media (--lg) {
    top: 6rem;
    left: 8rem;
  }

  @media (min-width: 1140px) {
    top: 18rem;
    left: 14rem;
  }

  @media (--xl) {
    left: 14rem;
  }
}

.answer {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  width: 27rem;
  height: 19rem;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 3rem;
  /* transition: all 1s ease-in-out 0s; */
  background: url("./assets/img/weetjes/kaartje2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 6rem 3rem 0 3rem;

  @media (--sm) {
    margin-bottom: 2rem;
    font-size: 2.6rem;
    background: none;
    width: 40rem;
    height: unset;
    padding: 0;
  }

  @media (--lg) {
    margin-bottom: 3rem;
  }

  @media (min-width: 1140px) {
  }

  @media (--xl) {
    margin-bottom: 3rem;
    font-size: 4.2rem;
  }
}

.answer1 {
  color: var(--groen);
  transform: rotate(-5deg);
  width: 35rem;
}

.answer2 {
  color: #46a6ab;
  transform: rotate(3deg);
  /* margin-top: -8rem; */
  margin-left: 2rem;

  width: 40rem;
  margin-top: 5rem;
  /* @media (--sm) {
    margin: 0;
    margin-bottom: 2rem;
  } */
}

.answer3 {
  color: var(--donkergroen);
  transform: rotate(-5deg);
  margin-top: 4rem;
}

.kaartje__text {
  color: var(--lila);
  text-align: right;
  line-height: 1.5;
  /* padding: 0rem 1.5rem; */

  @media (--sm) {
    padding: 0;
    width: 38rem;
    position: absolute;
    right: 17rem;
    margin-top: 36rem;
    /* right: 6rem;
    bottom: 2rem; */
  }
  /*
  @media (--lg) {
    bottom: -6rem;
  }

  @media (--xl) {
    bottom: -10rem;
  } */
}

.kaartje__text strong {
  color: var(--donkerlila);
  font-weight: 900;
  margin-bottom: 0.8rem;
  display: inline-block;
}

/*------------ OVER NEXT --------------*/

.overnext {
  /* width: 90rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;
  background-image: url(./assets/img/next-logo.png);
  background-repeat: no-repeat;
  background-size: 30rem;
  background-position: 102% 20rem;
  margin: 14rem 0 10rem 0;

  /* @media (--lg) {
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 14rem 0 10rem 0;
  } */

  padding: 0 18vw;
}

.overnext__title {
  color: var(--lila);
  align-self: start;
}

.overnext__title .title-highlight {
  color: var(--donkerlila);
}

.overnextcirkel {
  background: url("./assets/img/cirkels/overnextcirkel.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 24rem;
  height: 13rem;
  position: absolute;
  margin-left: -23rem;
  margin-top: -1.4rem;
  z-index: -2;
  /* top: -0.4rem;
  left: -2.5rem; */
}

.overnext__text {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;

  @media (--sm) {
    flex-direction: row;
    /* width: 55rem; */
    margin-bottom: 5rem;
  }

  @media (--lg) {
    flex-direction: row;
    align-self: center;
    /* width: 66rem; */
    margin-bottom: 5rem;
  }

  @media (--xl) {
    align-self: unset;
    /* margin-left: -15rem; */
    /* width: 123rem; */
  }
}

.overnext__text p {
  @media (--lg) {
    padding-right: 5rem;
  }
}

.overnext__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./assets/img/buttons/overnextbutton.png");
  background-repeat: no-repeat;
  background-size: 89% 90%;
  background-position: center;
  width: 43rem;
  height: 7rem;
  transition: all 0.1s ease-in-out 0s;
  font-weight: bold;
  padding-top: 0.2rem;
  font-size: 1.9rem;
  margin-left: -2.1rem;
  margin-top: 2rem;
  transform: scale(0.98);

  @media (--sm) {
    width: 42rem;
    height: 7rem;
    margin-left: -2rem;
  }
}

.overnext__btn:hover {
  background: url("./assets/img/buttons/overnextbutton_pressed.png");
  background-repeat: no-repeat;
  background-size: 89% 90%;
  background-position: center;
  transform: scale(0.99);
}

.overnext__btn span {
  background: url("./assets/img/buttons/pijltje_wit.png");
  height: 1.5rem;
  width: 2.2rem;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 0.8rem;
}

/*---------------- FOOTER ---------------*/

.overlay-map {
  display: block;
  width: 100%;
  height: 4.6rem;
  background-color: #f5f5f5;
  position: absolute;
  z-index: 100;
}

.tekstballon {
  display: block;
  width: 45rem;
  height: 33rem;
  background-image: url(./assets/img/kaart-tekstballon.png);
  background-size: 70%;
  background-repeat: no-repeat;
  z-index: 100;
  position: absolute;
  left: calc(50% - 10rem);
  margin-top: 35rem;
  animation: zooming 5000ms infinite;

  & p {
    transform: rotate(-8deg);
    width: 31rem;
    padding-top: 4rem;
    text-align: center;
    color: white;
    font-size: 2.1rem;
    line-height: 3rem;
    margin-top: 1.1rem;

    & span {
      display: inline-block;
      font-weight: var(--extrabold);
    }
  }

  & .tekstballon-vraag {
    padding-top: 0;
    color: #a7e2e5;
    font-weight: bold;
  }
}

.mymap {
  width: 100%;
  height: 50rem;
  position: static;
  filter: grayscale(1);
}

.footer {
  /* background-color: var(--groen); */
  margin-top: -0.5rem;
  background: url("./assets/img/footer/footer.png");

  background-repeat: no-repeat;
  color: white;
  display: grid;
  /* justify-content: center; */
  padding: 0 18vw;

  /* grid-template-rows: repeat(2, auto); */
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "about about"
    "social contact"
    "sponsors sponsors"
    "links links";

  /* @media (--sm) {
    padding-top: 3rem;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "about contact"
      "social contact"
      "sponsors sponsors"
      "links links";
  } */

  @media (--lg) {
    padding-top: 8rem;
    grid-gap: 0;
    grid-row-gap: 3rem;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "about contact sponsors"
      "social contact sponsors"
      "links links links";
  }

  /* @media (--xl) {
    grid-gap: 3rem;
  } */
}

.footer__about {
  grid-area: about;
  margin-left: 2rem;
  justify-self: center;

  @media (--sm) {
    margin-left: unset;
    justify-self: unset;
  }

  & a {
    text-decoration: none;
    color: white;
    border-bottom: 0.13rem solid white;
    padding-bottom: 0.03rem;
    transition: all 0.2s ease;

    &:hover {
      border-bottom: 0.13rem solid transparent;
    }
  }
}

.footer__about h3 {
  font-size: 4rem;
  font-weight: var(--extrabold);
  margin-bottom: 0.4rem;
}

.footer__social {
  grid-area: social;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  justify-self: end;
  padding-right: 3rem;

  @media (--sm) {
    padding: unset;
    flex-direction: row;
    margin-left: unset;
    justify-self: flex-start;
  }

  @media (--lg) {
    align-self: flex-start;
  }
}

.footer__social a {
  margin: 0 2.3rem 0 0;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.6;
  }
}

.footer__contact {
  grid-area: contact;
  margin: 3rem 0;
  z-index: 900;

  @media (--sm) {
    justify-self: center;
    margin: 0 5rem;
  }

  @media (--lg) {
    margin: 0 4rem;
  }

  @media (--lg) {
    margin: 0 5rem;
  }
}

.footer__contact h3 {
  font-size: 2.4rem;
  font-weight: var(--extrabold);
  padding-bottom: 1.3rem;
  padding-top: 1.5rem;
  position: relative;
}

.footer__contact strong {
  display: block;
  margin-bottom: 0.5rem;
}

.footer__contact span {
  background: url("./assets/img/cirkels/contactcirkel.png");
  background-repeat: no-repeat;
  background-size: 95%;
  width: 15rem;
  height: 8rem;
  position: absolute;
  top: -0.4rem;
  left: -2.5rem;
}

.footer__sponsors {
  grid-area: sponsors;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  justify-self: right;
  transform: scale(1.1);
  margin-top: 2.6rem;
  width: 33rem;
  z-index: 200;

  @media (--sm) {
    width: 49rem;
    justify-content: flex-end;
  }

  @media (--lg) {
    width: 37rem;
    justify-content: space-between;
  }
}

.footer__sponsors img {
  height: 3.5rem;
  margin-bottom: 1rem;
  transition: all 0.2s ease;

  @media (--sm) {
    height: 6.5rem;
    margin: 0.5rem;
  }

  &:hover {
    opacity: 0.7;
  }
}

.footer__links {
  grid-area: links;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  @media (--sm) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
}

.footer__links li,
.footer__links a {
  color: #3d7578;
  font-size: 1.4rem;
  padding: 0 0.5rem;
  opacity: 1;
  font-weight: bold;

  @media (--sm) {
    padding: unset;
  }

  & .copyright {
    opacity: 1;
  }
}

.link-shrink {
  /* @media (--sm) {
    flex-grow: 1;
  } */
  margin-right: 3rem;

  transition: all 0.2s ease;

  &:hover {
    opacity: 0.7;
  }
}

.link-grow {
  text-align: right;

  @media (--sm) {
    flex-grow: 5;
  }
}
